html {
  position: relative;
  background-color: $main-color;
  min-height: 100%;
  line-height: 1.5;
  font-family: 'Muli', sans-serif;
  font-size: 100%;

  @media print {
    background-color: transparent;
  }
}

body {
  background-color: $white;
  min-height: 80%;
  color: $dark-grey;
}

a {
  box-shadow: 0 1px 0 0 $main-color;
  text-decoration: none;
  color: $main-color;
  font-weight: $semi-bold;

  &:hover {
    box-shadow: 0 1px 0 0 $dark-grey;
    color: $dark-grey;
  }

  @media print {
    box-shadow: none;
  }
}

figure {
  margin: 64px auto 48px;
  width: 80%;
  max-width: 280px;
  text-align: center;

  img {
    max-width: 100%;
  }

  figcaption {
    margin-top: 4px;
    font-size: .875rem;
  }
}


.button {
  display: block;
  margin: 0 auto;
  border: 2px solid $main-color;
  box-shadow: 0 2px 4px 0 $shadow;
  padding: 16px;
  max-width: 300px;
  text-align: center;
  text-decoration: none;
  font-size: 1.25rem;
  font-weight: $bold;
  box-sizing: border-box;

  &:hover {
    border-color: $dark-grey;
    text-decoration: none;
    box-sizing: border-box;
  }
}

.container {
  margin: 0 auto;
  padding: 16px;
  width: calc(100% - 2rem);
  max-width: 30em;
  box-sizing: border-box;

  @media (min-width: $breakpoint) {
    max-width: 1024px;
  }

  @media print {
    max-width: 90%;
  }
}
