.footer {
  position: absolute;
  right: 0;
  left: 0;
  margin: 0;
  background-color: $main-color;
  padding: 0;
  text-align: center;
  color: $white;
  box-sizing: border-box;

  a {
    color: $white;

    &:hover {
      opacity: .5;
    }
  }

  .footer-nav {
    .footer-nav-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 12px 0 0;
      width: calc(100% - 2rem);
      max-width: 30em;
      list-style: none;
      box-sizing: border-box;
    }

    .footer-nav-element {
      margin: 16px;
    }

    .footer-nav-link {
      .footer-nav-icon {
        width: 30px;
        height: 30px;
        fill: $white;
      }

      &:hover {
        opacity: .5;
      }
    }
  }
}

@media print {
  .footer {
    display: none;
  }
}
