.header {
  @media (min-width: $breakpoint) {
    display: flex;
    align-items: end;
    justify-content: space-between;
    border-bottom: 1px solid $main-color;
    padding: 0 32px;
  }

  a {
    box-shadow: none;

    &:hover {
      box-shadow: none;
      text-decoration: none;
    }
  }

  .header-title-link {
    box-shadow: none;
    text-align: center;

    @media (min-width: $breakpoint) {
      float: left;
    }
  }

  .header-title-name,
  .header-title-job {
    margin: 0;
  }

  .header-title-name {
    line-height: 1.875rem;
    font-size: 1.75rem;
    font-weight: $bold;
  }

  .header-title-job {
    position: relative;
    z-index: 1;
    margin-bottom: 16px;
    line-height: 1.25rem;
    font-size: 1rem;
    font-weight: $regular;

    &::before {
      position: absolute;
      top: 50%;
      right: calc(50% - 115px);
      left: calc(50% - 115px);
      z-index: -1;
      border-top: 1px solid $main-color;
      content: '';
      box-sizing: border-box;
    }

    span {
      background: $white;
      padding: 0 .4rem;
      box-sizing: border-box;
    }
  }

  .header-nav {
    @media (min-width: $breakpoint) {
      width: 40%;
    }

    .header-nav-list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      margin: 0;
      padding: 0;
      list-style: none;
      box-sizing: border-box;
    }

    .header-nav-element {
      flex: 1;
      margin: 16px 0 0;
      border-bottom: 1px solid $main-color;
      text-align: center;
      box-sizing: border-box;

      @media (min-width: $breakpoint) {
        border-bottom: 0;
      }
    }

    .header-nav-link {
      display: block;

      .header-nav-icon {
        display: block;
        margin: 0 auto 8px;
        width: 28px;
        height: 28px;
        fill: $main-color;
      }

      &::after {
        display: block;
        border-bottom: 3px solid transparent;
        width: 100%;
        height: calc(1rem - 4px);
        content: '';
        box-sizing: border-box;
      }

      &.current {
        &::after {
          border-bottom: 3px solid $main-color;
          box-sizing: border-box;
        }
      }

      &:hover {
        color: $dark-grey;
        .header-nav-icon { fill: $dark-grey; }

        &::after {
          border-bottom: 3px solid $dark-grey;
          box-sizing: border-box;
        }
      }

      &.disabled {
        color: $dark-grey;
        .header-nav-icon { fill: $dark-grey; }

        &::after {
          border-bottom: 0;
        }
      }
    }
  }
}
