.home-main {
  margin: 3rem auto 5rem;
  width: calc(100% - 2rem);
  min-height: 60vh;

  @media (min-width: $breakpoint) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    box-sizing: border-box;
  }

  .home-article {
    margin: 0 auto;
    max-width: 500px;
    @media (min-width: $breakpoint) {
      padding-right: 8px;
      box-sizing: border-box;
    }
  }

  .home-aside {
    margin: 0 auto;

    @media (min-width: $breakpoint) {
      flex-shrink: 0;
      padding-left: 8px;
      box-sizing: border-box;
    }
  }
}
