.profile-main {

  .profile-main-title {
    text-align: center;
    color: $main-color;
    font-size: 3rem;
    font-weight: $bold;
  }

  .profile-main-section {
    margin: 64px 0;

    .profile-main-section-title {
      display: flex;
      align-items: flex-start;

      .profile-main-section-icon {
        flex-shrink: 0;
        margin: 4px 8px 0;
        width: 30px;
        height: 30px;
        fill: $main-color;
      }

      .profile-main-section-label {
        margin: 0;
        color: $main-color;
        font-size: 1.75rem;
        font-weight: $semi-bold;
      }
    }

    &.contact-details-section {
      .contact-details-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        padding: 0;
        list-style: none;
        box-sizing: border-box;

        @media (min-width: $breakpoint) {
          justify-content: center;
          margin: auto;
          max-width: 900px;
        }
      }

      .contact-details-element {
        display: flex;
        align-items: flex-start;
        padding: 8px 0;
        box-sizing: border-box;

        @media (min-width: $breakpoint) {
          padding: 22px;
        }

        .contact-details-icon {
          flex-shrink: 0;
          margin: 2px 8px 0;
          width: 22px;
          height: 22px;
          fill: $dark-grey;
        }
      }
    }

    &.events-section,
    &.skills-section {

      h3 {
        margin-bottom: 0;
        text-align: center;

        @media (min-width: $breakpoint) {
          margin-bottom: 16px;
          text-align: left;
        }
      }

      .events-list,
      .skills-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0;
        list-style: none;
        box-sizing: border-box;

        @media (min-width: $breakpoint) {
          justify-content: flex-start;
        }
      }

      .events-element,
      .skills-element {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 8px 0;
        box-sizing: border-box;

        @media (min-width: $breakpoint) {
          padding: 0 22px 22px 0;
        }

        .events-link,
        .skills-link {
          display: flex;
          align-items: flex-start;
          justify-content: space-between;
          box-shadow: none;
          padding: 8px 4px 8px 0;
          box-sizing: border-box;

          .events-label,
          .skills-label {
            box-shadow: 0 1px 0 0 $main-color;
          }

          &:hover {
            .events-label,
            .skills-label {
              box-shadow: 0 1px 0 0 $dark-grey;
            }
          }
        }

        .events-icon,
        .skills-icon {
          flex-shrink: 0;
          margin: 6px 8px 0;
          width: 14px;
          height: 14px;
          fill: transparent;
          stroke: $dark-grey;
        }

        &.with-logo {
          position: relative;

          .events-link,
          .skills-link {
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 150px;
            min-height: 100px;

            .events-label,
            .skills-label {
              max-width: 80%;
              word-wrap: break-word;
            }

            &::after {
              position: absolute;
              background-repeat: no-repeat;
              background-position: center;
              background-size: contain;
              width: 100%;
              height: 100%;
              content: '';

              @media (min-width: $breakpoint) {
                width: calc(100% - 28px);
              }
            }
          }
        }

        &.event-sudweb {
          .events-link {
            &::after {
              background-image: url('img/logo-sudweb.jpg');
            }
          }
        }

        &.event-parisweb {
          .events-link {
            &::after {
              background-image: url('img/logo-parisweb.jpg');
            }
          }
        }

        &.event-cdl {
          .events-link {
            &::after {
              background-image: url('img/logo-cdl.jpg');
            }
          }
        }

        &.event-pyconfr {
          .events-link {
            &::after {
              background-image: url('img/logo-pyconfr.jpg');
            }
          }
        }

        &.skill-django {
          .skills-link {
            &::after {
              background-image: url('img/logo-django.jpg');
            }
          }
        }

        &.skill-plone {
          .skills-link {
            &::after {
              background-image: url('img/logo-plone.jpg');
            }
          }
        }

        &.skill-angular {
          .skills-link {
            &::after {
              background-image: url('img/logo-angular.jpg');
            }
          }
        }


      }
    }

    &.interests-section {
      .interests-list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 0;
        list-style: none;
        box-sizing: border-box;

        @media (min-width: $breakpoint) {
          justify-content: flex-start;
        }
      }

      .interests-element {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding: 8px 0;
        box-sizing: border-box;

        @media (min-width: $breakpoint) {
          padding: 22px 22px 22px 0;
        }

        .interests-icon {
          flex-shrink: 0;
          margin: 6px 8px 0;
          width: 14px;
          height: 14px;
          fill: transparent;
          stroke: $dark-grey;
        }
      }
    }

    @media print {
      &.download-section {
        display: none;
      }
    }
  }
}
