// Inspired by https://codepen.io/donnyburnside/pen/pbdYVy

.timeline {
  position: relative;
  margin: 0 -10%;
  padding-top: 40px;
  padding-bottom: 40px;
  width: 115%;
  max-width: 800px;
  box-sizing: border-box;

  @media (min-width: $breakpoint) {
    margin: 0 auto;
    width: auto;
  }

  .timeline-element {
    display: flex;
    position: relative;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 16px;

    @media (min-width: $breakpoint) {
      flex-wrap: nowrap;
      align-items: flex-start;
      justify-content: space-between;

      &.timeline-element-right {
        justify-content: flex-end;

        .timeline-element-block {
          &::after {
            right: auto;
            left: calc(50% + 35px);
            border-top: 1px solid $dark-grey;
            border-right: 0;
            border-bottom: 0;
            border-left: 1px solid $dark-grey;
          }
        }
      }
    }

    &::before {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 30px;
      border-left: 2px solid $dark-grey;
      min-height: calc(100% + 35px);
      content: '';

      @media (min-width: $breakpoint) {
        left: 50%;
      }
    }

    &:last-child {
      margin-bottom: 0;

      &::before {
        border-left: 0;
      }
    }
  }

  .timeline-element-icon {
    position: absolute;
    top: 0;
    left: 10px;
    background-color: $white;
    padding-top: 8px;
    padding-bottom: 5px;
    width: 43px;
    height: 43px;
    box-sizing: border-box;


    @media (min-width: $breakpoint) {
      left: 50%;
      margin-left: -20px;
    }
  }

  .timeline-element-block {
    margin-bottom: 10px;
    margin-left: 80px;
    border: 1px solid $dark-grey;
    padding: 16px;
    width: calc(100% - 80px);
    min-height: 43px;
    box-sizing: border-box;

    @media (min-width: $breakpoint) {
      margin-bottom: 0;
      margin-left: 0;
      width: calc(50% - 50px);
    }

    &::after {
      position: absolute;
      top: 6px;
      left: 65px;
      transform: rotate(-45deg);
      border: 0;
      border-top: 1px solid $dark-grey;
      border-left: 1px solid $dark-grey;
      background: $white;
      width: 30px;
      height: 30px;
      content: '';

      @media (min-width: $breakpoint) {
        right: calc(50% + 35px);
        left: auto;
        border: 0;
        border-right: 1px solid $dark-grey;
        border-bottom: 1px solid $dark-grey;
      }
    }

  }

  .timeline-element-title {
    position: relative;
    z-index: 1;
    margin: 0;
    color: $main-color;
    font-weight: $bold;
  }

  .timeline-element-subtitle {
    position: relative;
    z-index: 1;
    margin: 0;
    font-weight: $semi-bold;
  }
}
